:root{
    --fuente-principal: 'Roboto', sans-serif;
    --color-primario: #F6FBF4;
    --color-secundario: #F5DF99;
    --color-terciario: #2155CD;
    --color-cuaternario: #0AA1DD;
}

html, body {
    font-size: 62.5%; /* 1 rem = 10 px */
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    margin: 0;
    padding: 0;
    font-family: var(--fuente-principal);
    font-size: 1.6rem;
    line-height: 2;
}

a {text-decoration: none;}

.App {
    background-color: var(--color-primario);
    height: 100vh;
    margin: 0;
    padding: 0;
}

.header-container h1 {
    margin: 0;
    text-align: center;
    font-size: 5rem;
    color: var(--color-terciario);
}

.main-container {
    width: 50%;
    height: 40rem;
    display: flex;
    flex-direction: column;
    margin: 3rem auto;
}

.counter {
    background-color: var(--color-cuaternario);
    min-width: 40%;
    height: 20rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    color: var(--color-primario);
    border-radius: 1rem;
}

.btn {
  min-width: 40%;
  height: 5rem;
  margin: auto;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 1.8rem;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background-size: 120% auto;
  background-image: linear-gradient(315deg, #000428 0%, #004e92 75%);
}
.btn:hover {
  background-position: right center;
}
.btn:active {
  top: 2px;
}
